body{
    font-family: "Inter", sans-serif;
}

.container{
    width: min(100%,1440px);
    margin: auto;
    padding-top: 98.5px;
}

/* header  */

header{
    background-color: #012426;
    padding: 16px 94px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    max-width: inherit;
    width: inherit;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

}
.burger,.xmark{
    display: none;
}

.header_ul{
    display: flex;
    column-gap: 72px;
}
.header_link {
    position: relative;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #A1C3C9;
    text-decoration: none;
    transition: color 0.3s ease;
}

.header_link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
    background-color: #05BCCA;
    transition: width 0.3s ease;
}

.header_link:hover {
    color: #05BCCA;
}

.header_link:hover::after {
    width: 100%;
}

.header_btn:hover {
    transform: translateY(-3px) scale(1.3);
    box-shadow: 0 8px 15px rgba(0,0,0,0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.header_buttons{
    display: flex;
    column-gap:32px;
}
.header_btn{
    width: 40px;
    height: 40px;
    border-radius: 8px;
}
.btn_border{
    background-color: transparent;
    border: 2px solid #05BCCA
}
.btn_bg{
    background-color: #05BCCA;
    border: none;

}