@media(max-width:745px){
    /* header  */
    header{
        padding-inline: 24px;
    }
    .header_nav{
        top: 98.5px;
    }

    /* catalog_main_section  */
    .catalog_main_section {
        padding-top: 48px;
    }
    .none2{
        display: none;
       }
       .guitar_section_cards {
        grid-template-columns: 1fr;
    }
    
/* footer  */
    footer{
        column-gap: 40px;
       }
     
}